# =============================
# AUTH SERVICE - ENV CONFIG
# =============================

# Core
SECRET_KEY=change-me
DEBUG=True

# Database (PostgreSQL)
DB_ENGINE=django.db.backends.postgresql
DB_NAME=auth_db
DB_USER=pfe_user
DB_PASSWORD=motdepasse123
DB_HOST=localhost
DB_PORT=5432

# Email mode: console | smtp
EMAIL_MODE=smtp

# SMTP (Gmail example)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_HOST_USER=votre-email@gmail.com
EMAIL_HOST_PASSWORD=votre_app_password
EMAIL_TIMEOUT=20
DEFAULT_FROM_EMAIL=ISIMM Admission <votre-email@gmail.com>
EMAIL_SUBJECT_PREFIX=[ISIMM]

# App links
FRONTEND_URL=http://localhost:4200
